
.MuiTab-root.MuiTab-root {
    color: #e3deef;
}

.MuiIconButton-colorPrimary {
    color: rgb(242 147 60);
}

.jss30{
    color: rgb(255, 255, 255);
    padding: 0px 2.8rem 0px 0px;
    font-size: 1.8rem;
    min-width: 13.5rem;
    background: linear-gradient(101.98deg, rgb(179, 46, 255) -23.47%, rgb(225, 133, 179) 125.55%);
    font-weight: 700;
    line-height: 3.6rem;
    border-radius: 2.3rem;
}

.jss31 {
    color: white;
    width: auto;
    padding: 0.8rem 2.8rem;
    font-size: 1.5rem;
    background: linear-gradient(101.98deg, rgb(242 147 60) -23.47%, rgb(250 208 109) 125.55%);
    /*box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgba(216, 213, 220, 0.8) -10px 10px 30px;*/
    box-shadow: none;
    min-height: 4rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.jlApHf {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: all 0.15s ease-out 0s;
    border-radius: 3rem;
}


.TCjiz {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.15s ease-out 0s;
}

.hIVfxe {
    -webkit-box-align: stretch;
    align-items: stretch;
    background-image: url(./static/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 0.15s ease-out 0s;
    min-height: 100vh;
}

.jss10 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.jss1 {
    display: flex;
    padding: 0 4.2rem;
    flex-wrap: wrap;
    min-height: 8rem;
    transition: all 0.15s ease-out;
}

.jss11 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.jss12 {
    flex: 1 1 0%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: center;
}

.jss18 {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.duwsTH {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

@media screen and (min-width: 600px){
    .duwsTH {
        padding: 4px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.gCkfoC {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
}

.jss2 {
    width: 8.2rem;
    display: flex;
    align-items: center;
}

.MuiTabs-root {
    display: flex;
    overflow: hidden;
    min-height: 48px;
    -webkit-overflow-scrolling: touch;
}

.khRuSy {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
    .khRuSy {
        font-size: 1rem;
    }
}

.jss33 {
    display: flex;
    align-items: center;
}

.QJHDX {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.hgFmth {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
    padding: 2.2rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

@media screen and (min-width: 600px) {
    .hgFmth {
        padding: 2.5rem;
    }
}

.evqZyO {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
}

.jss40 {
    display: flex;
    position: relative;
    transition: all 0.15s ease-out;
    justify-content: center;
}

.jss62 {
    display: flex;
    align-items: center;
}

.jss41 {
    margin-bottom: 4.2rem;
}


.jss42 {
    margin-right: 1.8rem;
}

.jss71 {
    max-width: 51.6rem;
    box-shadow: inset 4px -4px 3px #FFFFFF, inset 8px -8px 60px -5px #F1E9EC, inset -7px 7px 5px -4px rgba(174, 174, 192, 0.4);
    /*box-shadow: inset -8px -8px 60px -5px rgba(21, 20, 29, 0.6), inset 4px -4px 3px rgba(102, 96, 119, 0.5), inset -7px 7px 5px -4px #161222;*/
    box-sizing: border-box;
    transition: all 0.15s ease-out;
}

.jss741 {
    color: rgb(15, 5, 36);
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: none;
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgb(216, 213, 220) -10px 10px 30px, rgba(102, 96, 119, 0.04) -8px 4px 10px inset;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.gdGHzk {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: all 0.15s ease-out 0s;
    margin-bottom: 1.8rem;
}

.jss83 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jss84 {
    width: 45%;
    overflow: hidden;
}

.jss95 {
    width: 55%;
}

.jss91 {
    height: 3.6rem;
    padding-right: 4.8rem;
}



.jss93.MuiSelect-select {
    padding-right: 2.8rem;
}

.jss94 {
    top: calc(50% - 0.75rem);
    color: rgb(255, 255, 255);
    right: 0.8rem;
}

.jss96 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jss101 {
    width: 100%;
    padding: 0.8rem 0px;
    box-shadow: none;
    transition: all 0.15s ease-out 0s;
    margin-left: 0.7rem;
    border-radius: 1.5rem;
}

.jss102 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 700;
    text-overflow: clip;
}

.jss101:hover {
    box-shadow: rgba(255, 255, 255, 0.5) -3px -3px 6px inset, rgba(174, 174, 192, 0.16) 3px 3px 6px inset;
}

.dqiNXW {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    height: 3.8rem;
    padding-left: 1.2rem;
}

.ilUnas {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
}

.gcYQVy {
    text-align: center;
    transition: all 0.15s ease-out 0s;
}

.jss86 {
    overflow: hidden;
    font-size: 1.4rem;
    text-align: center;
    transition: all 0.15s ease-out;
    font-weight: 700;
    margin-left: 0.4rem;
    text-overflow: ellipsis;
}

.jss93 {
    color: rgb(255, 255, 255);
    padding: 0px 2.8rem 0px 0px;
    font-size: 1.8rem;
    min-width: 13.5rem;
    background: linear-gradient(101.98deg, rgb(242 147 60) -23.47%, rgb(250 208 109) 125.55%);
    font-weight: 700;
    line-height: 3.6rem;
    border-radius: 2.3rem;
}

.jss103 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jss43 {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0.8rem;
}

.jss104 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jss105 {
    width: 45%;
    overflow: hidden;
}

.jss106 {
    color: rgb(255, 255, 255);
    padding: 0px 2.8rem 0px 0px;
    font-size: 1.8rem;
    min-width: 13.5rem;
    background: linear-gradient(101.98deg, rgb(242 147 60) -23.47%, rgb(250 208 109) 125.55%);
    font-weight: 700;
    line-height: 3.6rem;
    border-radius: 2.3rem;
}

.jss106.MuiSelect-select {
    padding-right: 2.8rem;
}

.jss107 {
    top: calc(50% - 0.75rem);
    color: rgb(255, 255, 255);
    right: 0.8rem;
}

.jss108 {
    width: 55%;
}

.jss110 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 700;
    text-overflow: clip;
}

.jss109 {
    width: 100%;
    padding: 0.8rem 0px;
    box-shadow: none;
    transition: all 0.15s ease-out 0s;
    margin-left: 0.7rem;
    border-radius: 1.5rem;
}

.jss53 {
    width: 51.6rem;
    margin-top: 2rem;
}

.jss54 {
    display: block;
    list-style: none;
    text-align: right;
    font-weight: normal;
    padding-right: 4rem;
}

.jss55 {
    cursor: pointer;
    position: relative;
}

.jss57 {
    text-align: right;
    margin-bottom: 1.5rem;
}

.jss113 {
    width: 100%;
    padding: 0.8rem 0px;
    box-shadow: none;
    transition: all 0.15s ease-out 0s;
    margin-left: 0.7rem;
    border-radius: 1.5rem;
}

.jss114 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 1.6rem;
    text-align: left;
    font-weight: normal;
    text-overflow: clip;
}

.jss60 {
    margin-top: 1.8rem;
}

.jss45 {
    width: 46rem;
    display: flex;
    min-height: 12rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(0 0 0 / 57%);
    border-radius: 3rem;
}

.jss52 {
    margin-top: 2.4rem;
}

.jss122 {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}
.jss115 {
    width: 100%;
    display: flex;
    align-items: center;
}

.jss116 {
    width: 100%;
}

.jss120 {
    color: rgb(102, 96, 119);
    font-weight: 700;
}


.bpEvhy {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.15s ease-out 0s;
}

.jss126 {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.jss124 {
    color: rgb(102, 96, 119);
    font-weight: 800;
}

.jss117 {
    width: 100%;
    font-size: 2.8rem;
    text-align: right;
    white-space: nowrap;
}

.jss125 {
    color: rgb(102, 96, 119);
    font-weight: 800;
}

.eotpAT {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 450px;
    width: 100%;
}

.belpMO {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
    margin-bottom: 16px;
}

.bqFdK {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.15s ease-out 0s;
    margin-top: 4px;
}

.jss131 {
    display: flex;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    padding-left: 24px;
    margin-bottom: 32px;
    padding-right: 24px;
    justify-content: space-between;
}

.jbmArB {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    margin-left: 64px;
    margin-right: 64px;
    width: 20%;
}

.jss132 {
    margin-right: 1.6rem;
}

.jss133 {
    margin-right: 1.6rem;
}

.djnATS {
    opacity: 0.6;
}

.jlvEvq {
    width: 24px;
    height: 24px;
}

#connected-wallet {
    box-shadow: none;
}

.djnATS:hover {
    opacity: 1;
    color: rgb(150, 143, 168);
}

.MuiTypography-colorPrimary {
    color: #d36410;
}

.jss136 {
    display: flex;
    align-items: center;
}

.jss142 {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.jss143 {
    margin-right: 4px;
}

.jss137 {
    display: flex;
}

.jss138 {
    margin-left: 1.6rem;
}

.jss139 {
    margin-left: 1.6rem;
}

.jss140 {
    margin-left: 1.6rem;
}

.jss141 {
    margin-left: 1.6rem;
}

.jss29 {
    color: #FDF7F9;
    background: none;
}

.jss128 {
    color: rgb(15, 5, 36);
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: none;
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgb(216, 213, 220) -10px 10px 30px, rgba(102, 96, 119, 0.04) -8px 4px 10px inset;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}


.jss59 {
    margin: 0 1.8rem;
    min-width: 17.5rem;
    transition: all 0.15s ease-out, box-shadow 0.15s ease-out;
}

.jss129 {
    color: white;
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: linear-gradient(99.85deg, rgb(179, 46, 255) -18.29%, rgb(242, 164, 152) 109.86%);
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgba(216, 213, 220, 0.8) -10px 10px 30px;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.jss59 {
    margin: 0 1.8rem;
    min-width: 17.5rem;
    transition: all 0.15s ease-out, box-shadow 0.15s ease-out;
}

.jss113:hover {
    box-shadow: rgba(255, 255, 255, 0.5) -3px -3px 6px inset, rgba(174, 174, 192, 0.16) 3px 3px 6px inset;
}

.jss31:hover {
    color: white;
    background: linear-gradient(99.85deg, rgb(238 171 64) -18.29%, rgb(247 222 147) 109.86%);
}

aside.svelte-rntogh {
    display: flex;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

section.svelte-rntogh {
    display: block;
    box-sizing: content-box;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: inherit;
    padding: 1.33em;
    position: relative;
    overflow: hidden;
    max-width: 37em;
    color: #4a4a4a;
}

header.svelte-8i8o6j {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 1em;
}

p.svelte-w9ftfy.svelte-w9ftfy {
    font-size: 0.889em;
    margin: 1.6em 0 0 0;
    font-family: inherit;
}

ul.svelte-q1527.svelte-q1527 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style-type: none;
    margin: 1.25em 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.15;
    box-sizing: border-box;
}

ul.svelte-q1527 li.svelte-q1527 {
    padding: 0 0.25em;
}

button.svelte-1799bj2 {
    display: flex;
    align-items: center;
    border: none;
    margin: 0.33em 0;
    background: inherit;
    font-size: inherit;
    width: 18em;
    padding: 0.625em 1.25em;
    transition: box-shadow 150ms ease-in-out, background 200ms ease-in-out;
    border-radius: 40px;
    cursor: pointer;
    color: inherit;
    line-height: 1.15;
    font-family: inherit;
    opacity: 1;
    transition: opacity 200ms;
}

div.svelte-1799bj2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-family: inherit;
}

img.svelte-1799bj2 {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

div.svelte-w9ftfy.svelte-w9ftfy {
    display: flex;
    font-size: inherit;
    font-family: inherit;
    justify-content: space-between;
}

div.svelte-w9ftfy span.svelte-w9ftfy {
    color: #4a90e2;
    font-size: inherit;
    font-family: inherit;
    margin-top: 0.66em;
    cursor: pointer;
}

div.svelte-rntogh {
    height: 0.66em;
    position: absolute;
    padding: 0.25em;
    top: 1.33em;
    right: 1.33em;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    transition: background 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.svelte-rntogh {
    width: 10px;
    height: 10px;
}

div.svelte-rntogh:hover svg.svelte-rntogh {
    fill: #000;
}

h3.svelte-8i8o6j {
    font-weight: bold;
    font-size: 1.33em;
    font-family: inherit;
    margin: 0 0 0 0.5em;
}

span.svelte-1799bj2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    margin-left: 0.66em;
    font-weight: bold;
    text-align: left;
    font-family: inherit;
}

button.svelte-1799bj2:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#modal-connect > section > div.bn-onboard-custom.bn-onboard-modal-content-close.svelte-rntogh {
    cursor: pointer;
}

div.svelte-rntogh:hover {
    cursor: pointer;
    background: #eeeeee;
}

.jss66 {
    top: calc(50% - 0.75rem);
    color: rgb(102, 96, 119);
    right: 0.8rem;
}

.MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

@media (min-width: 600px)
{
    .MuiMenuItem-root {
        min-height: auto;
    }
}

.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    transition: all 0.15s ease-out;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}


.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-button {
    transition: all 0.15s ease-out;
}

.MuiMenuItem-root {
    width: auto;
    overflow: hidden;
    font-size: 1.8rem;
    box-sizing: border-box;
    min-height: 48px;
    transition: all 0.15s ease-out;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.5;
    padding-top: 6px;
    white-space: nowrap;
    padding-bottom: 6px;
}

.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgb(235, 151, 57);
}

.MuiSelect-select:focus {
    background-color: white;
}

.MuiListItem-root.Mui-selected {
    color: #0F0524;
    background-color: #eb9739;
}

.MuiSvgIcon-colorPrimary {
    color: #f49f46;
}

.jss55 > span {
    color: white;
}

.MuiTab-root.Mui-selected {
    color: #f39e45;
}
.MuiTab-root:hover:not(.Mui-selected) {
    color: white;
}


.jss5396 {
    height: 100%;
    display: flex;
    transition: all 0.15s ease-out;
    align-items: center;
    justify-content: center;
}

.jss5397 {
    height: 100%;
    display: flex;
    min-width: 0;
    align-items: center;
    margin-right: 1rem;
    justify-content: center;
}

.jss5398 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.jss5399 {
    width: auto;
    height: 3rem;
    max-width: 3rem;
    object-fit: contain;
}

.MuiListItem-button:hover {
    text-decoration: none;
    background-color: #fff2d5;
}

.MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.jss85 {
    display: flex;
    transition: all 0.15s ease-out;
    align-items: center;
    flex-direction: row;
}

.jss93:focus {
    border-radius: 2.3rem;
    background-color: white;
}

.jss106:focus {
    border-radius: 2.3rem;
    background-color: white;
}

.jss2115 {
    margin: 0px auto;
    max-width: 900px;
}

.jss2116 {
    padding: 8px;
    text-align: left;
    margin-bottom: 32px;
}

.jss2136 {
    padding: 32px;
}

.jss2104 {
    box-shadow: inset 4px -4px 3px #FFFFFF, inset 8px -8px 60px -5px #F1E9EC, inset -7px 7px 5px -4px rgba(174, 174, 192, 0.4);
    transition: all 0.15s ease-out;
    border-radius: 3rem;
}

.jss2137 {
    display: flex;
    overflow: auto;
    align-items: center;
    margin-bottom: 32px;
    justify-content: space-between;
}

.jss2150 {
    overflow: auto;
}

.jss2138 {
    padding: 8px;
    text-align: left;
}

.jss2139 {
    display: flex;
    align-items: center;
}

.jss2140 {
    display: flex;
}

.jss2141 {
    display: flex;
}

.jss2112 {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.jss2142 {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.jss2143 {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.jss2144 {
    display: flex;
    align-items: center;
}

.MuiSvgIcon-colorSecondary {
    color: #666077;
}

.jss2145 {
    display: flex;
}

.jss2456 {
    display: flex;
}

.MuiIconButton-sizeSmall {
    padding: 3px;
    font-size: 1.125rem;
}

.jss2110 {
    width: 18px;
}

.jss2146 {
    display: flex;
    align-items: center;
}

.jss2147 {
    display: flex;
    align-items: center;
}

.jss2148 {
    display: flex;
    align-items: center;
}

.jss2149 {
    display: flex;
}

.jss2464 {
    display: flex;
}

.jss2110 {
    width: 18px;
}

.jss2150 {
    overflow: auto;
}

.jss2106 {
    width: 100%;
    border-collapse: collapse;
}

.jss2152 {
    padding: 8px;
    text-align: left;
}

.jss2154 {
    padding: 8px;
    text-align: left;
}

.jss2156 {
    padding: 8px;
    text-align: left;
}

.jss2107 {
    cursor: pointer;
    text-decoration: none;
}

.jss2153 {
    display: flex;
    align-items: center;
}

.jss2166 {
    display: block;
    text-decoration: none;
}

.jss2172 {
    display: flex;
    padding: 8px;
}

.jss2173 {
    margin-right: 16px;
}

.jss2161 {
    position: relative;
}

.jss2162 {
    top: -5px;
    left: -5px;
    width: 18px;
    position: absolute;
}

.jss2164 {
    width: 36px;
}

.jss2175 {
    display: flex;
    flex-direction: column;
}

.MuiTypography-body1 {
    font-size: 1.4rem;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
}

.jss2166 {
    display: block;
    text-decoration: none;
}

.jss2178 {
    padding: 8px;
}

.MuiTypography-body1 {
    font-size: 1.4rem;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
}

.jss2166 {
    display: block;
    text-decoration: none;
}

.jss2179 {
    padding: 8px;
}

.jss2166 {
    display: block;
    text-decoration: none;
}

.jss2183 {
    display: inline-block;
}

.jss2184 {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
}

.jss2185 {
    display: flex;
    align-items: center;
    margin-left: 8px;
    justify-content: center;
}

.jss2186 {
    display: flex;
    margin-left: 4px;
}

.jss2163 {
    width: 20px;
}

.jss2187 {
    display: flex;
    padding: 8px;
    justify-content: center;
}

.jss2166 {
    display: block;
    text-decoration: none;
}

.jss2167 {
    background: none;
    box-shadow: none;
    text-decoration: none;
}

.jss283 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jss284 {
    display: flex;
    align-items: center;
}

.jss278 {
    margin-bottom: 4.2rem;
}

.jss279 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4.4rem;
    justify-content: center;
}

.jss280 {
    margin: 0 1rem 1rem;
    display: flex;
    align-items: center;
}

.jss151 {
    height: 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 4.6rem;
    border-radius: 2.3rem;
    padding: 0.0rem 2.8rem 0.0rem 1.8rem;
    background-color: #FDF7F9;
}

.jss63 {
    box-shadow: none;
}

.jss152 {
    height: 4.6rem;
    padding-right: 4.8rem;
}

.MuiButton-root:disabled {
    box-shadow: none;
}

.jss151.MuiSelect-select {
    padding-right: 2.8rem;
}

.jss285 {
    top: calc(50% - 0.75rem);
    color: rgb(102, 96, 119);
    right: 0.8rem;
}

.jss155 {
    height: 100%;
    display: flex;
    transition: all 0.15s ease-out;
    align-items: center;
    justify-content: center;
}

.jss156 {
    height: 100%;
    display: flex;
    min-width: 0;
    align-items: center;
    margin-right: 1rem;
    justify-content: center;
}

.jss157 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.jss158 {
    width: auto;
    height: 3rem;
    max-width: 3rem;
    object-fit: contain;
}

.jss286 {
    top: calc(50% - 0.75rem);
    color: rgb(102, 96, 119);
    right: 0.8rem;
}

.jss287 {
    top: calc(50% - 0.75rem);
    color: rgb(102, 96, 119);
    right: 0.8rem;
}

.jss281 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

@media (max-width: 599.95px) {
    .jss162 {
        font-size: 2rem !important;
    }
}

.jss282 {
    margin-bottom: 4.2rem;
}
.jss305 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jss183 {
    max-width: 51.6rem;
    box-shadow: inset 4px -4px 3px #FFFFFF, inset 8px -8px 60px -5px #F1E9EC, inset -7px 7px 5px -4px rgba(174, 174, 192, 0.4);
    box-sizing: border-box;
    transition: all 0.15s ease-out;
}

@media (max-width: 599.95px)
{
    .jss183 {
        width: 100%;
    }
}

.MuiTypography-subtitle2 {
    font-size: 1.6rem;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.57;
}

.kUtUgw {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    transition: all 0.15s ease-out 0s;
}

.bNgcRw {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.15s ease-out 0s;
    width: 50%;
}

.jss185 {
    display: flex;
    transition: all 0.15s ease-out;
    align-items: center;
}

.jss187 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.jss188 {
    height: 2.2rem;
    margin: 0.7rem;
    display: flex;
}

.bOjqCL {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.15s ease-out 0s;
}

.jss197 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jss310 {
    width: 100%;
    padding: 0.8rem 0px;
    box-shadow: none;
    transition: all 0.15s ease-out 0s;
    margin-left: 0.7rem;
    border-radius: 1.5rem;
}

@media (max-width: 599.95px)
{
    .jss310 {
        width: 100%;
        padding: 0.5rem 0.6rem;
        font-size: 1.6rem;
    }
}

.jss311 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 700;
    text-overflow: clip;
}

@media (max-width: 599.95px)
{
    .jss311 {
        padding: 0.5rem;
        font-size: 1.6rem;
    }
}

.jss198 {
    width: auto;
    text-align: right;
}

@media (max-width: 599.95px)
{
    .jss198 {
        font-size: 1.8rem;
    }
}

.jss310:hover {
    box-shadow: rgba(255, 255, 255, 0.5) -3px -3px 6px inset, rgba(174, 174, 192, 0.16) 3px 3px 6px inset;
}

.jss312 {
    display: flex;
}

.jss313 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.jss290 {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0.8rem;
}

.MuiTypography-body2 {
    font-size: 1.2rem;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
}

.MuiInputBase-root.Mui-disabled {
    color: #6660777f;
    cursor: default;
}

.jss318 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 700;
    text-overflow: clip;
}

@media (max-width: 599.95px) {
    .jss318 {
        padding: 0.5rem;
        font-size: 1.6rem;
    }
}

.MuiInputAdornment-root {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
}


.MuiInputAdornment-positionEnd {
    margin-left: 8px;
}

.jss320 {
    color: rgb(15, 5, 36);
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: none;
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgb(216, 213, 220) -10px 10px 30px, rgba(102, 96, 119, 0.04) -8px 4px 10px inset;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.jss294 {
    margin: 0 1.8rem;
    min-width: 17.5rem;
}

.jss321 {
    color: white;
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: linear-gradient(99.85deg, rgb(179, 46, 255) -18.29%, rgb(242, 164, 152) 109.86%);
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgba(216, 213, 220, 0.8) -10px 10px 30px;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.jss305 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jss295 {
    margin-bottom: 5.4rem;
}

.jss292 {
    width: 46.0rem;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 599.95px) {
    .jss292 {
        width: 90%;
    }
}

.jss151:focus {
    border-radius: 2.3rem;
}


.jss2623 {
    margin: 0px auto;
    display: flex;
    max-width: 640px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.jss2624 {
    display: flex;
    text-align: center;
    margin-bottom: 32px;
    flex-direction: column;
    justify-content: center;
}

#mainPage {
        box-sizing: border-box;
        transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
        -webkit-box-flex: 1;
        flex-grow: 1;
}

.jss317 {
    color: rgb(15, 5, 36);
    padding: 6px 1.2rem 7px;
    animation: 0s ease 0s 1 normal none running none;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 700;
    text-overflow: clip;
}

section.svelte-mi6ahc {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: block;
}

div.svelte-18zts4b {
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    background: inherit;
    padding: 0;
    width: 18em;
    border-radius: 40px;
    color: inherit;
}

img.svelte-18zts4b {
    width: auto;
    height: 3em;
}

span.svelte-18zts4b {
    margin-left: 0.66em;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
    opacity: 0.7;
    text-align: left;
}

footer.svelte-mi6ahc {
    display: flex;
    font-size: inherit;
    font-family: inherit;
    justify-content: end;
}

button.svelte-fnc3e1 {
    border: none;
    background: inherit;
    font-size: 0.889em;
    font-family: inherit;
    padding: 0.55em 1.4em;
    cursor: pointer;
    color: #4a90e2;
    font-family: inherit;
    transition: background 150ms ease-in-out;
    line-height: 1.15;
    opacity: 1;
    transition: opacity 200ms;
}

button.svelte-fnc3e1 {
    border: none;
    background: inherit;
    font-size: 0.889em;
    font-family: inherit;
    padding: 0.55em 1.4em;
    cursor: pointer;
    color: #4a90e2;
    font-family: inherit;
    transition: background 150ms ease-in-out;
    line-height: 1.15;
    opacity: 1;
    transition: opacity 200ms;
}

.cta.svelte-fnc3e1 {
    border: 1px solid #4a90e2;
    border-radius: 40px;
}

.khRuSy {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.15s ease-out 0s;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 0.8rem;
}

@media screen and (min-width: 600px)
{
    .khRuSy {
        font-size: 1rem;
    }
}

.jss144 {
    display: flex;
    font-size: 1rem;
    box-shadow: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 959.95px)
{
    .jss144 {
        font-size: .8rem;
    }
}

.jss147 {
    color: rgb(15, 5, 36);
    width: auto;
    padding: 0.8rem 2.8rem;
    font-size: 1.5rem;
    background: rgb(226, 226, 229);
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgb(216, 213, 220) -10px 10px 30px, rgba(102, 96, 119, 0.04) -8px 4px 10px inset;
    min-height: 4rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.ilUnas {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
}

.jss147:hover {
    color: rgb(15, 5, 36);
    background: rgba(102, 96, 119, 0.498);
}


.jss149 {
    top: 0;
    color: #000;
    right: 0;
    display: inline-block;
    opacity: 0.4;
    padding: 2rem;
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
}

.jss165 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: auto;
    position: fixed;
    background: #00000070;
    transition: all 0.15s ease-out;
}

.jss165.entered {
    background: #f4f4f491;
}

.jss167 {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    padding: 5rem;
    overflow: auto;
    position: fixed;
    max-width: 560px;
    transform: translate(-50%, -50%);
    max-height: 100%;
    transition: all 0.15s ease-out;
}

.jss167.entered {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.jss168 {
    border: none;
    padding: 0;
    overflow: auto;
    position: relative;
    box-shadow: 8px 8px 30px rgba(174, 174, 192, 0.35), inset -8px -8px 12px rgba(255, 255, 255, 0.15), inset 8px 8px 8px rgba(174, 174, 192, 0.04);
    max-height: 100%;
}

.jss166 {
    top: 0;
    color: #000;
    right: 0;
    display: inline-block;
    opacity: 0.4;
    padding: 2rem;
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
}

.jss166:hover {
    cursor: pointer;
}

.jss169 {
    padding: 4rem;
}

.jss34 {
    position: relative;
}

.iHAZtI {
    box-sizing: border-box;
    transition: background 0.15s ease-out 0s, color 0.15s ease-out 0s;
    position: relative;
}

.jss35 {
    border: 1px solid #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.jss38 {
    font-size: 2rem;
}

.jss171 {
    border: 0;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0.1rem;
    background: none;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
}

.jss39 {
    margin-left: 0.5rem;
}

.jss172 {
    color: #666077;
    opacity: 0.5;
    font-size: 1.2rem;
    margin-left: 0.5em;
}

.jss171:hover {
    cursor: pointer;
}

.jss24 {
    width: 300px;
    padding: 3rem;
    text-align: center;
}

@media (max-width: 599.95px) {
    .jss24 {
        width: auto;
    }
}

.jss124 {
    display: flex;
    flex-direction: column;
}

.jss21 {
    margin-bottom: 2rem;
}


.jss20 {
    font-size: 1.7rem;
    font-weight: bold;
}

.jss125 {
    display: flex;
    flex-direction: column;
}

.jss22 {
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
}

.jss126 {
    display: flex;
    align-items: center;
}

@media (max-width: 599.95px) {
    .jss72 {
        font-size: 2rem !important;
    }}

.jss25 {
    justify-content: center;
}

.jss132 {
    padding: 0.1rem 0.4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.jss1331 {
    color: rgb(15, 5, 36);
    font-size: 1.4rem;
    text-align: right;
    font-weight: 400;
    text-overflow: ellipsis;
}

.jss1281 {
    font-size: 1.4rem;
    margin-right: 0;
}

.jss561 {
    margin: 0px auto;
    display: flex;
    max-width: 640px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.jss631 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    justify-content: space-between;
}

.jss641 {
    text-align: left;
    flex-direction: column;
}

.jss681 {
    display: flex;
    justify-content: space-between;
}

.jss691 {
    width: 300px;
    display: flex;
    text-align: left;
    margin-bottom: 32px;
    flex-direction: column;
}

.jss751 {
    width: 300px;
    display: flex;
    text-align: left;
    margin-bottom: 32px;
    flex-direction: column;
}

.jss761 {
    margin-bottom: 32px;
}

.jss771 {
    margin-bottom: 16px;
}

.jss701 {
    margin-bottom: 32px;
}

.jss711 {
    margin-bottom: 16px;
}

.jss721 {
    display: flex;
    min-height: 50px;
    align-items: center;
    margin-bottom: 16px;
}

.jss781 {
    display: flex;
    min-height: 50px;
    margin-bottom: 16px;
    align-items: center;
}

.jss791 {
    display: flex;
    align-items: center;
}

.jss811 {
    color: rgb(15, 5, 36);
    width: 100%;
    padding: 0.8rem 4.2rem;
    font-size: 2.2rem;
    background: none;
    box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgb(216, 213, 220) -10px 10px 30px, rgba(102, 96, 119, 0.04) -8px 4px 10px inset;
    min-height: 5.5rem;
    transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
    border-radius: 3rem;
    text-transform: none;
}

.jss851 {
    display: flex;
    margin-right: 8px;
}

.jss80 {
    margin-bottom: 16px;
}

.jss541 {
    box-shadow: inset 4px -4px 3px #FFFFFF, inset 8px -8px 60px -5px #F1E9EC, inset -7px 7px 5px -4px rgba(174, 174, 192, 0.4);
    min-height: 200px;
    transition: all 0.15s ease-out;
}

.jss841 {
    display: flex;
    margin-right: 8px;
}

.jss731 {
    margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .hIVfxe {
        background: url("./static/images/background-dt.png") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .jss11{
        display: none;
    }

    .jss18 {
        justify-content: center;
    }

    .jss82 {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .jss53 {
        width: 100%;
        margin-top: 2rem;
    }

    .jss45 {
        width: 90%;
    }

    #mainPage > div > div > div > div.jss45 > div > div.MuiBox-root.jss126.jss118 > h6.MuiTypography-root.jss115.jss116.jss124.MuiTypography-h6.MuiTypography-colorTextSecondary {
        align-items: flex-start;
        margin-left: 35px;
    }

    .eotpAT {
        margin-top: 40px;
    }

    .jss681 {
        flex-direction: column;
        align-items: center;
    }

    #nav-footer {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}