body, html {
    overflow-x: hidden;
    max-width: 100%;
    font-family: Inder, sans-serif;
}

.navbar__logo-link {
    width: 12.4rem;
}

.footer__logo-link {
    width: 12.4rem;
}

.wrapper.wrapper--footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#extra-data-1 .about__icon-wrapper{
    height: 100%;
    width: 100%;
}

#extra-data-1 .about-column.about-column__first {
    max-width: 40%;
}

#extra-data-1 .wrapper.wrapper--about {
    grid-column-gap: 7rem;
    padding-top: 5rem;
}

#extra-data-1 .about-column.about-column__second{
    justify-content: flex-start;
}

.w-webflow-badge {
    display: none !important;
}

#extra-data-1 .info-column {
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column;
}

.custom-title {
    margin-bottom: 2rem;
}

#mobile-app {
    margin-bottom: 0;
}

.hero__icon-wrapper {
    padding-top: 1rem;
}

.hero__icon-wrapper img{
    width: 14.24rem;
    height: 16.24rem;
}

.hero-content {
    margin-left: 20.63rem;
}

.hero-title.h1 {
    font-size: 14rem;
}

.hero__text-wrapper {
    margin-left: 1rem;
}

.navbar__btn-circle {
    width: 250px;
    height: 250px;
}

#shiba-icon {
    position: absolute;
    width: 10rem;
    height: 10rem;
}

.full-width {
    width: 100%;
}

.about-img {
    width: 100%;
    height: 60rem;
}

#getting {
    padding: 0;
    height: auto !important;
}

#getting img {
    width: 100% !important;
    height: 50rem;
}

#about > div {
    padding: 0;
    max-width: 100%;
}

#about {
    margin-bottom: 6rem;
}

#about .about-row {
    position: absolute; 
    padding-right: 2rem;
    top: 4rem
}

.about__gradient {
    background-image: linear-gradient(rgba(0, 5, 18, 0) 10%, #000512);
}

#about-text h3{
    margin-bottom: 3rem;
}

@media screen and (min-width: 1280px) {
    .section.section--hero {
        height: 51.1rem;
    }
}

.phones__text-wrapper {
    max-width: 100%;
}

.phones-title {
    max-width: 60rem;
}

.phones__text-wrapper {
    position: absolute;
    top: 5rem;
    width: 95rem;
    margin-left: 11rem;
}

.phones-desc {
    margin-right: 15.28rem;
}

#info-text h3{
    margin-bottom: 4rem;
}

.phones__shadow-bg {
    background-image: linear-gradient(rgba(0, 5, 18, 0) 10%, #000512);
}

#extra-data-1 .about-column.about-column__second{
    top: 3rem
}

#extra-data-1 .about-icon {
    object-fit: fill;
    height: 65%;
}

#extra-data-1 .about__icon-wrapper {
    display: flex;
    align-items: center;
}

.hero__icon-bg {
    width: 15.81rem;
    height: 15.81rem;
}
    