// Subcribe Home 1
.subcribe-home1 {
	.ova-mc4wp {
		display: flex;

		.ova-mc4wp-name {
			display: none;
		}

		.ova-mc4wp-email {
			width: 70%;
			margin-right: 20px;

			input[type="email"] {
				background-color: #292A47;
				border-radius: 28px;
				color: rgba(224, 224, 224, 0.8);
				font-size: 16px;
				line-height: 24px;
				text-align: left;
				padding: 16px 20px;
				width: 100%;
				height: auto;
				border: none;
			}
		}

		.ova-mc4wp-submit {
			width: 30%;

			input[type="submit"] {
				background-color: var(--primary);
				border-radius: 28px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				padding: 16px 20px;
				color: #FFFFFF;
				width: 100%;
				height: auto;

				&:hover {
					background-color: #fff;
					color: var(--text);
					border-color: var(--text);
				}
			}
		}

		@media screen and (max-width: 465px) {
			flex-direction: column;

			.ova-mc4wp-email {
				width: 100%;
				margin: 0;
				margin-bottom: 20px;
			}
			.ova-mc4wp-submit {
				width: 100%;
			}
		}
	}
}

// Subcribe Home 2
.subcribe-home2 {
	.ova-mc4wp {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;

		@media screen and (max-width: 1024px) {
			justify-content: flex-start;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
		    align-items: flex-start;
		}

		.ova-mc4wp-name, .ova-mc4wp-email {
			margin-right: 30px;
			width: 300px;
			@media screen and (max-width: 768px) {
				margin-right: 0px;
				margin-bottom: 30px;
				width: 100%;
			}
			input {
				max-height: 48px;
				width: 100%;
				background-color: #fff;
				border: 1px solid #DCDCE7;
				box-sizing: border-box;
				border-radius: 8px;
				color: #000;

				@media screen and (max-width: 768px) {
					max-width: 100%;
					width: 100%;
				}

				&::placeholder {
					font-size: 16px;
					line-height: 24px;
					color: var(--text);
				}
			}
		}

		.ova-mc4wp-submit {
			width: 158px;
			@media screen and (max-width: 768px) {
				width: 100%;
			}

			input[type="submit"] {
				max-height: 48px;
				width: 100%;
				padding: 12px 40.5px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #fff;
				background-color: #48DCA8;
				border: none;
				box-shadow: 0px 15px 30px rgba(72, 220, 168, 0.25);
				border-radius: 8px;

				@media screen and (max-width: 768px) {
					width: 100%;
				}
			}
		}
	}
}

// Contact Form 7
.ova-ctfrom7 {
	// Home 1
	.form-home1 {

		input[type="text"], input[type="email"], input[type="tel"], textarea {
			width: 386px;
			background-color: #292A47;
			box-sizing: border-box;
			border: none;
			border-radius: 24px;
			padding: 12px 16px;
			color: #fff;
			outline: none;
			caret-color: var(--primary);
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #fff;
			text-transform: capitalize;

			@media screen and (max-width: 830px) {
				width: 300px;
			}

			&::placeholder {
				font-size: 16px;
				line-height: 24px;
				color: rgba(224, 224, 224, 0.8);
			}
		}
		.name-info, .email-phone-info, .message-info {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			@media screen and (max-width: 675px) {
				flex-direction: column;
				.wpcf7-form-control-wrap {
					width: 100%;
					input {
						width: 100%;
					}
				}
			}
		}

		.name-info, .email-phone-info {
			margin-bottom: 30px;
			.wpcf7-form-control-wrap {
				&:first-child {
					input {
						margin-right: 15px;

						@media screen and (max-width: 675px) {
							margin-right: 0;
						}
					}
				}
				&:last-child {
					input {
						margin-left: 15px;

						@media screen and (max-width: 675px) {
							margin-left: 0;
						}
					}
				}
			}
		}

		.email-phone-info {
			input[type="email"], input[type="tel"] {
				text-transform: unset;
			}
		}

		.message-info {
			textarea {
				width: 802px;
				height: 120px;
				max-width: 100%;
				margin-bottom: 60px;

				@media screen and (max-width: 830px) {
					width: 630px;
				}
			}
		}

		.ova-submit {
			text-align: center;

			input[type="submit"] {
				padding: 16px 36.6px;
				background-color: var(--primary);
				border-radius: 28px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				-moz-transition: all .3s ease;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;

				&:hover {
					background-color: #48DCA8;
					border-color: #48DCA8;
				}
			}

			.ajax-loader {
				display: none;
			}
		}
	}

	// Home 2
	.form-home2 {

		input[type="text"], input[type="email"], input[type="tel"] {
			width: 100%;
			background-color: #fff;
			border: 1px solid #DCDCE7;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 12px 11px;
			color: #000;
			outline: none;
			caret-color: #48DCA8;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			text-transform: capitalize;
			-moz-transition: all .3s ease;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;

			&::placeholder {
				font-size: 16px;
				line-height: 24px;
				color: var(--text);
			}
		}
		.name-info, .email-phone-info, .message-info {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			@media screen and (max-width: 768px) {
				flex-direction: column;
				.wpcf7-form-control-wrap {
					width: 100%;
					input, textarea {
						max-width: 100%;
					}
				}
			}
		}

		.name-info, .email-phone-info {
			margin-bottom: 16px;
			.wpcf7-form-control-wrap {
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
				flex-direction: column;
				&:first-child {
					margin-right: 15px;
					@media screen and (max-width: 768px) {
						margin-right: 0;
					}
				}
				&:last-child {
					margin-left: 15px;

					@media screen and (max-width: 768px) {
						margin-left: 0;
					}
				}
			}
		}

		.email-phone-info {
			input[type="email"], input[type="tel"] {
				text-transform: unset;
			}
		}

		.message-info {
			.wpcf7-form-control-wrap {
    			width: 100%;

				textarea {
					width: 100%;
					height: 96px;
					max-width: 100%;
					margin-bottom: 24px;
					background-color: #fff;
					border: 1px solid #DCDCE7;
					box-sizing: border-box;
					border-radius: 8px;
					padding: 12px 11px;
					outline: none;
					caret-color: #48DCA8;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					color: #000;
					text-transform: capitalize;
					-moz-transition: all .3s ease;
					-webkit-transition: all .3s ease;
					transition: all .3s ease;

					&::placeholder {
						color: #6D747C;
					}
				}
			}
		}

		.ova-submit {
			text-align: center;

			input[type="submit"] {
				padding: 14px 75px 15px 73px;
				background-color: #48DCA8;
				border-color: #48DCA8;
				box-shadow: 0px 15px 30px rgba(72, 220, 168, 0.25);
				border-radius: 8px;
				font-weight: 600;
				font-size: 18px;
				line-height: 27px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				-moz-transition: all .3s ease;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;

				&:hover {
					background-color: var(--primary);
					border-color: var(--primary);
				}

				@media screen and (max-width: 450px) {
					width: 100%;
					padding: 14px 0 15px 0;
					font-size: 16px;
				}
			}

			.ajax-loader {
				display: none;
			}
		}
	}

	// Home 3
	.form-home3 {

		input[type="text"], input[type="email"], input[type="tel"] {
			width: 100%;
			background-color: #33343B;
			border: 1px solid rgba(255, 255, 255, 0.25);
			box-sizing: border-box;
			border-radius: 8px;
			padding: 12px 11px;
			color: #fff;
			outline: none;
			caret-color: #48DCA8;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			text-transform: capitalize;
			-moz-transition: all .3s ease;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;

			&::placeholder {
				font-size: 16px;
				line-height: 24px;
				color: #D3D4E0;
			}
		}
		.name-info, .email-phone-info, .message-info {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			@media screen and (max-width: 768px) {
				flex-direction: column;
				.wpcf7-form-control-wrap {
					width: 100%;
					input, textarea {
						max-width: 100%;
					}
				}
			}
		}

		.name-info, .email-phone-info {
			margin-bottom: 16px;
			.wpcf7-form-control-wrap {
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
				flex-direction: column;

				&:first-child {
					margin-right: 15px;
					@media screen and (max-width: 768px) {
						margin-right: 0;
					}
				}

				&:last-child {
					margin-left: 15px;

					@media screen and (max-width: 768px) {
						margin-left: 0;
					}
				}
			}
		}

		.email-phone-info {
			input[type="email"], input[type="tel"] {
				text-transform: unset;
			}
		}

		.message-info {
			.wpcf7-form-control-wrap {
				// max-width: 802px;
    			width: 100%;

				textarea {
					width: 100%;
					height: 96px;
					max-width: 100%;
					margin-bottom: 24px;
					background-color: #33343B;
					border: 1px solid rgba(255, 255, 255, 0.25);
					box-sizing: border-box;
					border-radius: 8px;
					padding: 12px 11px;
					color: #fff;
					outline: none;
					caret-color: #48DCA8;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					text-transform: capitalize;
					-moz-transition: all .3s ease;
					-webkit-transition: all .3s ease;
					transition: all .3s ease;

					&::placeholder {
						color: #D3D4E0;
					}
				}
			}
		}

		.ova-submit {
			text-align: center;

			input[type="submit"] {
				padding: 14px 75px 15px 73px;
				background-color: #48DCA8;
				border-color: #48DCA8;
				box-shadow: 0px 15px 30px rgba(72, 220, 168, 0.25);
				border-radius: 8px;
				font-weight: 600;
				font-size: 18px;
				line-height: 27px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				-moz-transition: all .3s ease;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;

				&:hover {
					background-color: var(--primary);
					border-color: var(--primary);
				}

				@media screen and (max-width: 450px) {
					width: 100%;
					padding: 14px 0 15px 0;
					font-size: 16px;
				}
			}

			.ajax-loader {
				display: none;
			}
		}
	}

	// Home subcribe home 3
	.form-subcribe-home3 {

		.content-info {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: nowrap;

			@media screen and (max-width: 1024px) {
				justify-content: flex-start;
			}

			@media screen and (max-width: 768px) {
				flex-direction: column;
			    align-items: flex-start;
			}

			.wpcf7-form-control-wrap {
				margin-right: 30px;
				@media screen and (max-width: 768px) {
					margin-right: 0px;
				}
				input {
					max-width: 300px;
					max-height: 48px;
					width: 100%;
					background-color: #33343B;
					border: 1px solid rgba(255, 255, 255, 0.25);
					box-sizing: border-box;
					border-radius: 8px;
					color: #fff;

					@media screen and (max-width: 768px) {
						max-width: 100%;
						width: 100%;
					}

					&::placeholder {
						font-size: 16px;
						line-height: 24px;
						color: #D3D4E0;
					}
				}
			}

			input[type="submit"] {
				max-width: 158px;
				max-height: 48px;
				padding: 12px 40.5px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				background-color: #48DCA8;
				border: none;
				box-shadow: 0px 15px 30px rgba(72, 220, 168, 0.25);
				border-radius: 8px;

				@media screen and (max-width: 768px) {
					max-width: 100%;
				}
			}

			.ajax-loader {
				display: none;
			}
		}
	}
}

// Tabs arrow
.tabs-arrow {
	.elementor-tabs {
		.elementor-tabs-content-wrapper {
			.elementor-tab-mobile-title {
				position: relative;

				&:before {
					position: absolute;
					right: 0;
					font-size: 20px;
					content: "\f104";
					font-family: ovaicon !important;
				    font-style: normal;
				    font-weight: normal !important;
				    font-variant: normal;
				    text-transform: none;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				}
			}
		}
	}
}

// CSS Log
.ova-ctfrom7-home1, .ova-ctfrom7-home2, .ova-ctfrom7-home3 {
	.wpcf7 {
		form.invalid, form.unaccepted {
			.wpcf7-response-output {
				color: #dc3232;
				border: 1px solid #dc3232;
			}
		}
	}
}